.App {
  text-align: center;
}

.info-box {
  align-items: center;
  justify-content: space-evenly;
  display: flex;
  flex-direction: row;
}
.covid-logo {
  width: 350px;
}

.covid-mask {
  width: 350px;
}